li {
  display: inline-block;
}

.cards-div {
  background-color: #F5F5F5;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  padding: 5px;
}

.from-inline {
  display: inline-block;
}

#hit_form {
  float: left;
  margin-right: 10px;
}

#stay_form {
  float: left;
}

.card_image {
  margin: 0px 5px 5px 0px;

}
