<h3>Place Your Bet</h3>
<form action="/place_bet" method="post">
  <input type="text" name="bet_amount" />
  <br />
  <input type="submit" class="btn" />
</form>

<p>You have $<%= session[:purse] %> in chips</p>
